CompileFlags:
  Add: -ferror-limit=0
#   Add: /std:c++23
#   Compiler: clang-cl

# ---

# If:
#   PathMatch: .*\.h
# CompileFlags:
#   Add: [/std:c++20]
#   # Add: [/std:c++2b]
#   # Compiler: clang
#
# ---

Index:
  Background: Build
  StandardLibarary: true

Style:
  QuotedHeaders: "Src/.*"
  AngledHeaders: ["FiberArt/.*"]

Diagnostics:
  Suppress: "*"

# https://clangd.llvm.org/config#completion
Completion:
  AllScopes: No
  ArgumentLists: Delimiters
  HeaderInsertion: Never

# https://clangd.llvm.org/config#inlayhints
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: false
  DeducedTypes: false
  DefaultArguments: false
  TypeNameLimit: 24

Hover:
  ShowAKA: true

Documentation:
  CommentFormat: Doxygen
